In [1]:
import numpy as np
import pandas as pd
import sklearn as sk

from sklearn import datasets

In [2]:
# importando dos dados

data_set = datasets.load_iris()
X = pd.DataFrame(data= data_set.data, columns=data_set.feature_names)
Y = pd.DataFrame(data= data_set.target)

display(X)
display(Y)
print(data_set.target_names)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

['setosa' 'versicolor' 'virginica']

In [3]:
# pré processamento

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = pd.DataFrame(data=scaler.fit_transform(X), columns= list(X.columns))
display(X)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0            -0.900681          1.019004          -1.340227         -1.315444
1            -1.143017         -0.131979          -1.340227         -1.315444
2            -1.385353          0.328414          -1.397064         -1.315444
3            -1.506521          0.098217          -1.283389         -1.315444
4            -1.021849          1.249201          -1.340227         -1.315444
..                 ...               ...                ...               ...
145           1.038005         -0.131979           0.819596          1.448832
146           0.553333         -1.282963           0.705921          0.922303
147           0.795669         -0.131979           0.819596          1.053935
148           0.432165          0.788808           0.933271          1.448832
149           0.068662         -0.131979           0.762758          0.790671

[150 rows x 4 columns]

In [5]:
# modelando

from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier

X_train, X_test, y_train, y_test = train_test_split(X.values, Y.values.ravel(), random_state=1, 
                                                    test_size=0.8)

model = GradientBoostingClassifier()
model.fit(X.values,Y.values.ravel())
y_pred = model.predict(X_test)
model.score(X_test, y_test)

1.0

In [6]:
# Avaliação

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

print("----- matriz da confusão ----- \n")
display(confusion_matrix(y_test, y_pred))
print("\n\n\n")
print("----- relatório de resultados ----- \n")
print(classification_report(y_test, y_pred, target_names=data_set.target_names))

# resultados muito bons, não necessário fazer a tunagem.

----- matriz da confusão -----

array([[40,  0,  0],
       [ 0, 37,  0],
       [ 0,  0, 43]], dtype=int64)

----- relatório de resultados -----

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        40
  versicolor       1.00      1.00      1.00        37
   virginica       1.00      1.00      1.00        43

    accuracy                           1.00       120
   macro avg       1.00      1.00      1.00       120
weighted avg       1.00      1.00      1.00       120

In [7]:
# salvando

import pickle

pickle.dump(model, open("modelos/iris_model.sav", "wb"))
pickle.dump(scaler, open("modelos/iris_scaler.sav", "wb"))